﻿@{
    ViewBag.Title = "FragebogenErstellen";
}

<h2>Fragebogen Erstellen</h2>

<p>
<select name="Antwortmöglichkeit" size=3>
<option value="W1" selected>Frage 1
    <option value="W2" selected>Frage 2
        <option value="W3" selected>Frage 3
    </option>
</select>
</p>
