﻿@model Evaluationssoftware.Models.LocalPasswordModel

<p>
    Sie besitzen kein lokales Kennwort für diese Website. Fügen Sie ein lokales
    Kennwort hinzu, damit Sie sich ohne eine externe Anmeldung anmelden können.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formular zum Festlegen des Kennworts</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Kennwort festlegen" />
    </fieldset>
}
