﻿@{
    ViewBag.Title = "Index";
}

<h2>Fragen erstellen</h2>

<p>
 <textarea cols="20" rows="4" name="textfeld"></textarea>
 </p>

<p>
<select name="Antwortmöglichkeit" size=3>
<option value="W1" selected>Fünfer Skala
<option value="W2">Ja/Nein
<option value="W3">Offen
</select>
</p>

<form action="input_button.htm">
  <p>
    <input type="button" name="Text 1" value="Speichern">
  </p>
</form>
